*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: darkslategray;
    
}

h1,h2{
    background-color: purple;
    color: white;
}

h3{
    color: brown;
}

footer{
    text-align: center;
    font-size: 0.80em;

}